---
- name: Get Azure VM Info with desired tag
  azure.azcollection.azure_rm_virtualmachine_info:
    tags:
      - environment:{{ env }}
      - owner:{{ owner }}
  register: instance_info

- name: Stop instances
  azure.azcollection.azure_rm_virtualmachine:
    name: "{{ item.name }}"
    resource_group: "{{ item.resource_group }}"
    started: false
  loop: "{{ instance_info.vms }}"
