---
- name: Get facts for all storage accounts
  azure.azcollection.azure_rm_storageaccount_info:
    resource_group: Demo
  register: storageaccount

- name: Gather storage account names
  ansible.builtin.set_fact:
    storageaccountnames: "{{ storageaccountnames }} + [ '{{ item.name }}' ]"
  loop: "{{ storageaccount.storageaccounts }}"
  when: storageaccount != []

- name: Sync with Gitrepo
  ansible.builtin.git:
    repo: 'git@github.com:shadowman-lab/Ansible-Azure.git'
    dest: /home/git
    version: master
  delegate_to: tower.shadowman.dev

- name: Save Master Storage Account
  ansible.builtin.copy:
    content: "storage_account: {{ storageaccountnames }}"
    dest: "/home/git/vars/storage_account.yml"
    owner: root
    group: root
    mode: '0644'
  delegate_to: tower.shadowman.dev

- name: Update git repo with new master storage account
  ansible.builtin.shell: git add * && git commit -m "Adding new master storage account to repo" && git push ||  /bin/true
  args:
    chdir: /home/git
  delegate_to: tower.shadowman.dev
  register: result
  changed_when: '"Adding new master storage account to repo" in result.stdout'
