---
- name: Get facts for all function apps
  azure.azcollection.azure_rm_functionapp_info:
    resource_group: Demo
  register: functionapp
  
- name: Gather functionapp group names
  ansible.builtin.set_fact:
    functionappnames: "{{ functionappnames }} + [ '{{ item.name }}' ]"
  loop: "{{ functionapp.ansible_info.azure_functionapps }}"
  when: functionapp != []

- name: Sync with Gitrepo      
  ansible.builtin.git:
    repo: 'git@github.com:shadowman-lab/Ansible-Azure.git'
    dest: /home/git
    version: master
  delegate_to: tower.shadowman.dev

- name: Save Master function apps Groups
  ansible.builtin.copy:
    content: "function_app: {{ functionappnames }}"
    dest: "/home/git/vars/functionapp.yml"
    owner: root
    group: root
    mode: '0644'
  delegate_to: tower.shadowman.dev

- name: Update git repo with new master function app
  ansible.builtin.shell: git add * && git commit -m "Adding new master function app to repo" && git push ||  /bin/true
  args:
    chdir: /home/git
  delegate_to: tower.shadowman.dev
  register: result
  changed_when: '"Adding new master function app to repo" in result.stdout'
