{
  "name": "Pick VM ",
  "description": "Choose which VMs",
  "spec": [
    {
      "type": "multiselect",
      "question_name": "What VM?",
      "question_description": "What VM",
      "variable": "rollback_date",
      "choices": "test\nnew
      ",
      "required": true,
      "default": ""
    }
  ]
}